@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
 body{
    background-image: url(./assets/img/2.jpg); 
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
 }
 
 .header {
    background-color: rgba(2, 20, 68, 0); 
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    color: rgb(0, 0, 0);
    border-radius: 100px;

 }
 .header_nav {
     padding: 8px 0;
 }
 .header_nav-list {
     position: relative;
 }
 .header_nav-list-item {
     display: inline-block;
     margin: 0 5px;
     float: none;
     text-align: center;
 }
 .header_nav-list-item > a {
     padding: 8px 15px;
     color: #fff;
     text-transform: uppercase;
     font-weight: 800;
     text-decoration: none;
     font-size: 16px;
 }
 .header_nav-list-item > a:hover {
     color: #f2e2d9;
 }
 .center{
    display: inline-block;
    text-align: center;
    
}
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}